@charset "UTF-8";

.company {
  width: 100%;
  display: inline-block;
}

.company_inner {
  margin-top: 100px;
}

.company_list {
  width: 80%;
  margin: 0 auto ;
}

.company_list li {
  display: flex;
  padding-bottom: 15px;
}

.company_list li span {
  width: 20%;
  margin-right: 3%;
  padding: 10px;
  border-bottom: 4px solid rgb(31, 115, 140);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.company_list li p {
  width: 80%;
  padding: 0 0 ０ 20px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  text-align: center;
}

.company_list li p a {
  color: rgb(99, 178, 178);
}